<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/scripts/css/bootstrap.min.css" integrity="" crossorigin="anonymous">

  <title>Books List</title>
</head>

<body>
  <div class="container-fluid">
    <div class="col-sm-12 container">
      <div class="row col-sm-12 text-center">
        <h2 class="col-sm-12">Cards on Database</h2>
        <h4 class="col-sm-12">Books present on MongoDb Instance</h4>
      </div>
    </div>
    <div class="container">

      <div class="row col-sm-12">
        <div class="container user-list-container">
          <table class="table  table-sm-12">
            <thead class="thead-inverse">
              <tr>
                <th>Name</th>
                <th>Descrição</th>
                <th>Opções</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              {% for i, value in bookList %}
              <tr>
                <th scope="row"> {{ bookList[i].title }} </th>
                <td> {{ bookList[i].ISBN }} </td>


                <td>
                  <button class="btn btn-action-user glyph-icon">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </td>
                <td>
                  <button class="btn btn-action-user glyph-icon">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </td>
              </tr>

              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>


  <script src="/scripts/jquery.min.js" integrity="" crossorigin="anonymous"></script>
  <script src="/scripts/umd/popper.min.js" integrity="" crossorigin="anonymous"></script>
  <script src="/scripts/js/bootstrap.min.js" crossorigin="anonymous"></script>

</body>

</html>